<div id="box">
  <h2>Puissance 4</h2>
  <div id="game">
    <p id="tour" [innerHTML]="message"></p>
    <div class="row" *ngFor="let positionY of getRowNumberAsArray(); index as i;">
      <app-pawn *ngFor="let positionX of getColumnNumberAsArray(); index as j;" [game]="this" [position]="{x: j+1, y: i+1}"></app-pawn>
    </div>
  </div>
  <div class="btn-group mt-4" role="group">
    <!-- PLAY -->
    <ng-template [ngIf]="state == 'play'">
      <button disabled class="active btn btn-dark disabled" ><fa-icon [icon]="['fas', 'circle']"></fa-icon></button>
      <button *ngIf="!progress" (click)="start()" class="btn btn-dark text-primary font-weight-bold text-shadow" title="Lancer"><fa-icon [icon]="['fas', 'play']"></fa-icon> {{ playMessage }}</button>
      <button *ngIf="!isGameBreak && progress" (click)="stop()" class="btn btn-dark text-danger font-weight-bold text-shadow" title="Stopper"><fa-icon [icon]="['fas', 'stop']"></fa-icon> Stopper</button>
      <button *ngIf="progress" (click)="reset()" class="btn btn-dark font-weight-bold text-shadow" title="Réinitialiser"><fa-icon [icon]="['fas', 'arrow-rotate-left']"></fa-icon> Réinitialiser</button>
      <button (click)='retour()' class="btn btn-dark text-warning font-weight-bold text-shadow" title="Retour"><fa-icon [icon]="['fas', 'door-open']"></fa-icon> Retour</button>
    </ng-template>
    <!-- ROBOT VS ROBOT -->
    <ng-template [ngIf]="state == 'robot'">
      <button disabled class="btn btn-dark" ><fa-icon [icon]="['fas', 'robot']"></fa-icon></button>
      <button *ngIf="!progress" (click)="start()" class="btn btn-dark text-primary font-weight-bold text-shadow" title="Lancer"><fa-icon [icon]="['fas', 'play']"></fa-icon> {{ playMessage }}</button>
      <button *ngIf="!isGameBreak && progress" (click)="stop()" class="btn btn-dark text-danger font-weight-bold text-shadow" title="Stopper"><fa-icon [icon]="['fas', 'stop']"></fa-icon> Stopper</button>
      <button *ngIf="progress" (click)="reset()" class="btn btn-dark font-weight-bold text-shadow" title="Réinitialiser"><fa-icon [icon]="['fas', 'arrow-rotate-left']"></fa-icon> Réinitialiser</button>
      <button (click)="parametres()" class="btn btn-dark text-info font-weight-bold text-shadow" title="Paramètres"><fa-icon [icon]="['fas', 'gear']"></fa-icon> Paramètres</button>
      <button (click)='retour()' class="btn btn-dark text-warning font-weight-bold text-shadow" title="Retour"><fa-icon [icon]="['fas', 'door-open']"></fa-icon> Retour</button>
    </ng-template>
    <!-- NONE -->
    <ng-template [ngIf]="state == ''">
      <button (click)="selectPane('play')" class="btn btn-dark" title="Lancer une partie de puissance 4"><fa-icon [icon]="['fas', 'circle']"></fa-icon> Jouer</button>
      <button (click)="selectPane('robot')" class="btn btn-dark" title="Un match de robot contre robot"><fa-icon [icon]="['fas', 'robot']"></fa-icon> Robot vs Robot</button>
    </ng-template>
  </div>
</div>
<app-credits></app-credits>
