<div id="box">
  <h2>Puissance 4</h2>
  <div id="game">
    <p id="tour">{{ message }}</p>
    <div class="row" *ngFor="let positionY of getRowNumberAsArray(); index as i;">
      <app-pawn *ngFor="let positionX of getColumnNumberAsArray(); index as j;" [game]="this" [position]="{x: j+1, y: i+1}"></app-pawn>
    </div>
  </div>
  <div class="btn-group mt-4" role="group">
    <button (click)="startNewGame()" class="btn btn-secondary" title="Lancer une partie de puissance 4"><fa-icon [icon]="['fas', 'dice']"></fa-icon> Jouer</button>
    <button (click)="startARobotGame()" class="btn btn-secondary" title="Un match de robot contre robot"><fa-icon [icon]="['fas', 'robot']"></fa-icon> Robot vs Robot</button>
    <button class="btn btn-secondary" title="Afficher les options et paramètres"><fa-icon [icon]="['fas', 'tools']"></fa-icon> Options</button>
  </div>
</div>
<app-credits></app-credits>
